*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body {
  height: 100vh;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #000;
  margin: 0;
  padding: 0;
}
#hero{
    position: relative;
    overflow: hidden;
}
.swiper {
  width: 100vw;
  height: 100vh;
}
.swiper-slide {
  font-size: 18px;
  background-color: transparent;
}
.mySwiper{
    background-image: url(/images/MacBook\ Air\ -\ 1\(1\).png);
}
.swiper-slide img {
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  animation: hero infinite linear;
}
#desc-box{
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
#desc-box h1{
    color: white;
    font-size: 5rem;
    width: 30rem;
    line-height: 5rem;
}
#desc-box p{
    color: white;
    font-size: .7rem;
    width: 25rem;
    position: relative;
    left: 5rem;
    padding-top: .5rem;
}
#desc-box h3{
    color: white;
    position: relative;
    left: 5rem;
    font-size: 2rem;
    padding-top: .5rem;
}
#desc-box button{
    border: 1px solid #BF9A5E;
    background-color: black;
    padding: 1rem 3rem;
    color: #BF9A5E;
    margin-top: 2rem;
    cursor: pointer;
}
.more-products{
    display: flex;
    gap: 1rem;
    width: 20rem;
    position: absolute;
    right: 2rem;
    bottom: 5rem;
}
.prod{
    height: 5rem;
    width: 5rem;
    background-color: rgb(23, 23, 23);
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
#prod7{
    background-image: url(/images/perfume4.webp);
}
#prod8{
    background-image: url(/images/perfume4_2.webp);
}
#prod9{
    background-image: url(/images/perfume4_3.webp);
}

/* Product */
#product {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    background-color: #080202;
}
#product h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-top: 5vh;
}
#f-p {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin: 2rem 0;
    justify-content: center;
}
.items {
    min-height: 50vh;
    width: 100%;
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.items img{
    height: auto;
}
.details h3{
    text-align: center;
    font-size: 1.3rem;
    color: white;
}
.details p{
    text-align: center;
    color: white;
}
/* Cart dropdown styling */
.cart-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px; /* Adjust the margin as needed */
}

.cart-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cart-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    top: 100%;
    right: 0;
}

.cart-content p {
    margin: 0;
    padding: 5px;
}

.cart-content a {
    color: #3498db;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.cart-content a:hover {
    background-color: #f2f2f2;
}

.cart-dropdown:hover .cart-content {
    display: block;
}